@model UpwardsWebsiteProject.Models.ClassEntity

@{
    ViewData["Title"] = "AddClass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddClass</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveClass">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input type="hidden" asp-for="ClassId" />
              @*  <label asp-for="SchoolId" class="control-label"></label>
                <input asp-for="SchoolId" class="form-control" />
                <span asp-validation-for="SchoolId" class="text-danger"></span>*@
            </div>

            <div class="form-group">
                <label asp-for="SchoolId" class="control-label"></label>
                <select asp-for="SchoolId" class="form-control" asp-items="@(new SelectList(ViewBag.SchoolList,"SchoolId","SchoolName"))">
                </select>

            </div>

            <div class="form-group">
                <label asp-for="BranchId" class="control-label"></label>
                <select asp-for="BranchId" class="form-control" asp-items="@(new SelectList(ViewBag.BranchList,"BranchId","BranchName"))">
                </select>

            </div>

          @*  <div class="form-group">
                <label asp-for="BranchId" class="control-label"></label>
                <input asp-for="BranchId" class="form-control" />
                <span asp-validation-for="BranchId" class="text-danger"></span>
            </div>*@


            <div class="form-group">
                <label asp-for="ClassName" class="control-label"></label>
                <input asp-for="ClassName" class="form-control" />
                <span asp-validation-for="ClassName" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="ClassList" class="btn btn-outline-success">Class List</a>
            </div>
        </form>
    </div>
</div>

